<body style="background-image: url('../assets/background.jpg'); background-repeat: repeat;">
  <main class="container">
    <img src="../assets/International_Pokémon_logo.png">
    <px-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></px-card><br>
    <!-- <h1>Pokedex</h1>
    <p>Il y a {{ numberOfPokemon }} pokemons</p>
    <p [textContent]="numberOfPokemon"></p>
    <p>{{ somePokemon.name }} est le premier pokemon</p> -->
    <!-- Appelle d'un composant -->
    <!-- <px-card [data]="numberOfPokemon"></px-card><br>
    <button (click)="displayPokemon()">Afficher les starters</button>
    <button (click)="hidePokemon()">Cacher les starters</button>
    <div *ngIf="pokemons.length >= 3">
      <p *ngFor="let pokemon of pokemons">
        {{ pokemon.name }}
      </p>
    </div> -->
  </main>
</body>
